
.page-map {
    display: grid;    
    grid-template-columns: 400px 1fr;
    height: 100vh;

    & aside { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%); 
        padding: 80px;
    }

    & aside img { display: block;width: 64px;height: 72px;margin-bottom: 80px }
    & aside h1 { font-size: 40px;line-height: 42px;padding-bottom: 24px; }
    & aside p { font-size: 18px;line-height: 28px }
    & aside .location { display: flex; flex-direction: column; }

    & main { background-color: #000 }

    & .create-orphanage {
        position: absolute;
      
        z-index: 10;
      
        right: 40px;
        bottom: 40px;
      
        width: 64px;
        height: 64px;
        background: #15c3d6;
        border-radius: 20px;
      
        display: flex;
        justify-content: center;
        align-items: center;
      
        transition: background-color 0.2s;
        z-index: 110;
    }
    
    & .create-orphanage:hover {
        background: #17d6eb;
    }

    & .leaflet-container { z-index: 90; }

    & .map-popup .leaflet-popup-content-wrapper { 
        background-color: rgba(255, 255, 255, .9);
        border-radius: 20px;
        box-shadow: none;
    }

    & .map-popup .leaflet-popup-content { 
        color: #0089a5;
        font-size: 16px;
        font-weight: bold;
        margin: 8px 12px;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    & .map-popup .leaflet-popup-content a {
        width: 40px;
        height: 40px;
        background: #15c3dc;
        box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
        border-radius: 12px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .map-popup .leaflet-popup-tip-container {
        display: none;
    }

}

